sphinx==3.0.4
sphinx_rtd_theme==0.2.4
sphinx_tabs==1.1.12
sphinx_prompt==1.1.0
sphinx_substitution_extensions==2019.6.15.0
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
